<body>
    <div class="container">
        <div id="ButtonContainer">
            <button onclick="location.href='/add-order'"><span>Criar encomenda</span></button>
        </div>
        <div id="LastOrdersContainer">
            <h1>Last orders</h1>

            <table class="gfg" id="OrderListHeader">
                <tr>
                    <th class = "geeks">Order ID</th>
                    <th class = "geeks">Status</th>
                    <th class = "geeks">Destino</th>
                    <th>User</th>
                </tr>
            </table>
            <table id="OrderList">
                <tr class = "geekss" >
                    <td class = "geeks">10001</td>
                    <td class = "geeks">Thomas</td>
                    <td class = "geeks">M</td>
                    <td >32</td>
                </tr>
                <tr class = "geekss">
                    <td class = "geeks">10002</td>
                    <td class = "geeks">Sally</td>
                    <td class = "geeks">F</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td class = "geeks">10003</td>
                    <td class = "geeks">Anthony</td>
                    <td class = "geeks">M</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td class = "geeks">10003</td>
                    <td class = "geeks">Anthony</td>
                    <td class = "geeks">M</td>
                    <td>24</td>
                </tr><tr>
                    <td class = "geeks">10003</td>
                    <td class = "geeks">Anthony</td>
                    <td class = "geeks">M</td>
                    <td>24</td>
                </tr>
                
            </table>
            
        </div> 
    </div>
    
    
</body>