<body>
    <div class="container">
        <div id="ButtonContainer">
            <button onclick="location.href='/add-order'"><span>Create order</span></button>
            <button onclick="location.href='/generate-route'"><span>Generate route</span></button>
            <button onclick="location.href='/recive-orders'"><span>Recieve orders</span></button>
            <button (click)="forceCustom()"><span>Force custom</span></button>
            <button onclick="location.href='/assign-routes'"><span>Assign Routes</span></button>
            <button onclick="location.href='/create-user'"><span>Create user</span></button>
            <button onclick="location.href='/create-warehouse'"><span>Create warehouse</span></button>
        </div>
        <div id="LastOrdersContainer">
            <h1>Last orders</h1>

            <div class="table-header">
                <table>
                    <thead>
                        <tr>
                            <th class="order">Order ID</th>
                            <th class="order">Status</th>
                            <th class="order">Retailer</th>
                            <th class="order">User</th>
                        </tr>
                    </thead>  
                </table>
            </div>
            
            <div class="table-content">

                <table id="table-list">
                    <tbody>
                        <tr *ngFor="let order of orders" >
                            <td class="order order-id">{{order.id}} <a href="/customize-order?id={{order.id}}" id="order-details">details</a> </td>
                            <td class="order">{{order.state}}</td>
                            <td class="order">{{order.retailer}}</td>
                            <td class="order">{{order.customer}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="more">
                <a href="/admin-orders">Show more</a> 
            </div>
               
        </div> 

        <div id="routes">
            <h1>Routes</h1>
            <p *ngIf="!routes">No routes added yet</p>

            <div class="table-header">
                <table>
                    <thead>
                        <tr>
                            <th class="route">Route ID</th>
                            <th class="route">Warehouse</th>
                            <th class="route">Day</th>
                            <th class="route">Start time</th>
                        </tr>
                    </thead>  
                </table>
            </div>

            <div class="table-content">
                <table id="table-list">
                    <tbody>
                        <tr *ngFor="let route of routes">
                            <td class="route">{{route.id}} <a href="/route?id={{route.id}}" >details</a></td>
                            <td class="route">{{route.warehouse}}</td>
                            <td class="route">{{route.day}}</td>
                            <td class="route">{{route.start_time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="more">
                <a href="/admin-routes">Show more</a> 
            </div>
            <!-- <div id="order" *ngFor="let route of routes">
                <div id="route-day">
                    <p>{{route.day}}</p>
                </div>
                <div id="product-description">
                    
                </div>
                
            </div> -->
        </div>
        
    </div>
    
    
</body>