<body>
    <div class="container">
        <div id="ButtonContainer">
            <button onclick="location.href='/add-order'"><span>Create order</span></button>
            <button onclick="location.href='/generate-route'"><span>Generate route</span></button>
        </div>
        <div id="LastOrdersContainer">
            <h1>Last orders</h1>

            <table class="gfg" id="OrderListHeader">
                <tr>
                    <th class = "geeks">Order ID</th>
                    <th class = "geeks">Status</th>
                    <th class = "geeks">Destino</th>
                    <th>User</th>
                </tr>
            </table>
            <table id="OrderList">
                <tr class = "geekss" >
                    <td class = "geeks">10001</td>
                    <td class = "geeks">Thomas</td>
                    <td class = "geeks">M</td>
                    <td >32</td>
                </tr>
                <tr class = "geekss">
                    <td class = "geeks">10002</td>
                    <td class = "geeks">Sally</td>
                    <td class = "geeks">F</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td class = "geeks">10003</td>
                    <td class = "geeks">Anthony</td>
                    <td class = "geeks">M</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td class = "geeks">10003</td>
                    <td class = "geeks">Anthony</td>
                    <td class = "geeks">M</td>
                    <td>24</td>
                </tr><tr>
                    <td class = "geeks">10003</td>
                    <td class = "geeks">Anthony</td>
                    <td class = "geeks">M</td>
                    <td>24</td>
                </tr>
                
            </table>
            
        </div> 
        <div id="routes">
            <h1>Routes</h1>
            <p *ngIf="!routes">No routes added yet</p>

            <div id="order" *ngFor="let route of routes">
                <div id="route-day">
                    <p>{{route.day}}</p>
                </div>
                <div id="product-description">
                    
                </div>
                
            </div>
        </div>
    </div>
    
    
</body>