<div class="container">
    <div id="pending-orders">
        <h1>Pending orders</h1>
        <p>No orders incoming</p> 
        <div id="order">
            <div id="order-id">
                <p>123023</p>
            </div>
            
            <div id="product-description">
                <p>Product description</p>
            </div>
            <div id="date-available">
                <p>Available since:</p>
                <p>10/10/2000</p>
                
            </div>
            <div id="buttons">
                <button class="button" id="customize-order"><span>Customize order</span></button>
            </div>
            
        </div>
    </div>

</div>

