<div class="container">
    <div id="logged-user">
        <h2>Welcome {{loggedUser.user_name}}</h2>
    </div>
    <div id="orders">
        <h1>Pending orders</h1>
        <p *ngIf="orders.length == 0">No orders incoming</p> 
        
        <div id="order" *ngFor="let order of orders">
            <div id="order-id">
                <p>{{order.id}}</p>
            </div>
            <div id="product-description">
                <p>{{order.description}}</p>
            </div>
            <div id="date-available">
                <p>Available since:</p>
                <p>{{order.date_available}}</p>    
            </div>
            <div id="buttons">
                <a class="button" id="customize-order" href="/customize-order?id={{order.id}}"><span>Customize order</span></a>
                <!-- <button class="button" id="customize-order" (onclick)="location.href='/customize-order?id={{order.id}}'"><span>Customize order</span></button> -->
            </div>
        </div>
    </div>

    <div id="orders">
        <h1>Incoming orders</h1>
    </div>

    <div id="orders">
        <h1>Past orders</h1>
        <p *ngIf="recievedOrders.length == 0">No orders incoming</p>
        <div id="order" *ngFor="let order of recievedOrders">
            <div id="order-id">
                <p>{{order.id}}</p>
            </div>
            <div id="product-description">
                <p>{{order.description}}</p>
            </div>
            <div id="date-available">
                <p>Delivered at:</p>
                <p>{{order.date_delivery}}</p>    
            </div>
        </div>
    </div>
    
    

</div>

