.container {
    max-width: unset;
    width: 80%;
    margin-top: 40px;
}

.search {
    width: 350px;
	background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 9px;
	text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
	box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2); 
    color: #6f6cde;
	border-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search span {
	line-height: 60px;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	font-weight: semibold; 
	margin: 1cm;
}

.search:hover {
	opacity: 0.3;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
}

.search:active {
	opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
}

.search:focus {outline:0;}

