h1 {
    font-family: 'Nunito', sans-serif;
    color: #00D0B2;
}

h2 {
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-family: 'Nunito-Regular', sans-serif;
}

.container {
    max-width: unset;
    width: 70%;
    margin-top: 20px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
    
}

.routes{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-style: solid;
    border-color: rgb(195, 195, 195);
    border-radius: 10px;
    border-width: 1px;
    background-color: #fbfbfb;
}

#welcome {
    display: flex;
}

#clock {
    width: 50%;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: flex-end;
}

#welcome-text {
    width: 50%;
    float: left;
}

table {
    width: 100%;
}

th {
    font-family: 'Nunito-Regular', sans-serif;
    font-size: x-large;
}

tr {
    font-family: 'Nunito-Light', sans-serif;
}

tbody {
    margin-top: 10px;
}

#routes{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-style: solid;
    border-color: rgb(195, 195, 195);
    border-radius: 10px;
    border-width: 1px;
    background-color: #fbfbfb;
}

#viewroute {
	transform: translate(-50%, -50%);
	background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 32px;
	text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
	box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
	border-color: transparent;
    position:relative;
    left: 45%;
    top: 40px;
}

#viewroute span {
	line-height: 40px;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	font-weight: semibold; 
	margin: 1cm;
}

#viewroute:hover {
	opacity: 0.3;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
}

#viewroute:active {
	opacity: 1;
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
          inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #79e3b6;
}