<div class="container">
    
    <h1>Route - day {{route.day}}</h1>

    <div id="route">


        <div class="location">
            <embed class="location-svg" src="../../assets/route-elements/route-order.svg" alt="">
            <div class="location-info">
                <p>Warehouse</p>
            </div>
            
        </div>

        <div class="location" *ngFor="let order of route.orders">
            <embed class="location-svg" src="../../assets/route-elements/route-order.svg" alt="">
            <div class="location-info">
                <p>{{order.ordertimelocation[0].place_name}}</p>
                <div class="location-time">
                    <mat-icon class="time-icon" aria-hidden="false" aria-label="Example home icon" color="#000">schedule</mat-icon>
                    <p> {{order.ordertimelocation[0].time_interval[0].start | dateTranform}}</p>
                    <embed class="time-interval" src="../../assets/route-elements/time-interval.svg">
                    <p>{{order.ordertimelocation[0].time_interval[0].end | dateTranform}}</p>
                </div>
            </div>
            
        </div>
        <div class="location">
            <embed id="last" class="location-svg" src="../../assets/route-elements/route-last.svg" alt="">
            <div class="location-info">
                <p>Warehouse</p>
            </div>
        </div>
        

    </div>
    
    <div class="mapconatiner">
        <div class="map" id="map"></div>
    </div>

</div>