<div class="container">

    <div class="order">

        <h1>Add order</h1>
        <form>
            <div>
                <select [(ngModel)]="customer" name="customer">
                    <option value="null" [disabled]="true">Select customer</option>
                    <option  *ngFor="let user of users" [value]="user.id">{{user.user_name}}</option>      
                </select>
            </div>
            <div>
                <select [(ngModel)]="retailer" required name="retailer">
                    <option [value]=null [disabled]="true">Select retailer</option>
                    <option *ngFor="let user of users" [value]="user.id">{{user.user_name}}</option>      
                </select>
            </div>
            <div>
                <select [(ngModel)]="selectedWarehouse" required name="selectedWarehouse">
                    <option value="null" disabled="true">Select warehouse</option>
                    <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{warehouse.name}}</option>      
                </select>
            </div>
            <div>
                <input type="text" placeholder="weight" class="form__field" [(ngModel)]="weight" name="weight">
            </div>


            <div id="datecontainer">
                <input class="form-control"
                id="datePicker"
                placeholder="Date Available"
                name="appoitmentTime"
                [(ngModel)]="availableDate"
                ngbDatepicker #e="ngbDatepicker">
                <button 
                    class="btn btn-outline-secondary calendar"
                    (click)="e.toggle()"
                    type="button">
                    <i id="calendar" class="fa fa-calendar"></i>
                </button>
            </div>

            <div>
                <textarea 
                    name="order-description" 
                    id="order-description" 
                    placeholder="Product description" 
                    cols="30" rows="5" 
                    [(ngModel)]="description">
                </textarea>
            </div>

            <div>
                <input [(ngModel)]="addDelAdr" type="checkbox" id="addr-time" name="addr-time">
                <label id="checkbox" for="addr-time">Add delivery address and timings</label><br>
            </div>

            <button class="button" id="addLocation" (click)="addOrder()"><span>Add order</span></button>
        </form>

    </div>

    <div [hidden]="!addDelAdr" class="mapcontainer">
        <h2>Delivery addresses and timings</h2>
        <h3>Drag the marker to destiny location</h3>
        <div class="map" id="map"></div>

        <div id="datecontainer">
            <h3 id="deliverydate-text">Delivery date</h3>
            <input class="form-control"
            id="datePicker"
            placeholder="yyyy-mm-dd"
            name="deliveryDate"
            [(ngModel)]="deliveryDate"
            ngbDatepicker #d="ngbDatepicker">
            <button 
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button">
                <i id="calendar" class="fa fa-calendar"></i>
            </button>
        </div>

        <div id="timecontainer">
            <div id="timecontainer1" class="timecontainer">
                <h3>From</h3>
                <input [ngxTimepicker]="picker" placeholder="hh:mm" id="timepicker1" [format]=24 [(ngModel)]="startTiming">
                <ngx-material-timepicker #picker></ngx-material-timepicker>
            </div>
            <div id="timecontainer2" class="timecontainer">
                <h3>To</h3>
                <input [ngxTimepicker]="picker1" placeholder="hh:mm" id="timepicker2" [format]=24 [(ngModel)]="endTiming">
                <ngx-material-timepicker #picker1></ngx-material-timepicker>
            </div>
        </div>
        
        <div id="error-container">
            <h4 class="error-message" *ngIf="startTiming > endTiming">"From" time should be smaller than "To"</h4>
        </div>
        

        <button class="button" id="addLocation" (click)="addLocation()"><span>Add location</span></button>
    </div>

    <div [hidden]="!addDelAdr" class="selectedlocations">
        <h2>Selected locations</h2>
        <h3 *ngIf="locations.length == 0" >No locations have been added yet</h3>
        <div *ngFor="let location of locations" class="location">
            <h4>longitude {{location.longitude}}</h4>
            <h4>latitude {{location.latitude}}</h4>
            <h3>{{location.addressString.features[0].place_name}}</h3>
        </div>
        
    </div> 

</div>
